<form method="GET" action="/products">
    Filtrar por categoría:
    <select name="category">
        <option selected>Todas</option>
        <option name="Camisas" value="Camisa">Camisas</option>
        <option name="Pantalón" value="Pantalón">Pantalones</option>
        <option name="Blazer" value="Blazer">Blazer</option>
        <option name="Pollera" value="Pollera">Pollera</option>
        <option name="Tapado" value="Tapado">Tapado</option>
        <option name="Top" value="Top">Top</option>
    </select>
    <input type="submit" value="enviar">
</form>
<form method="GET" action="/products">
    Filtrar por precio:
    <select name="sort">
        <option name="asc" value="asc">Menor valor</option>
        <option name="desc" value="desc">Mayor valor</option>
    </select>
    <input type="submit" value="enviar">
</form>
<div>
    <h1>PRODUCTOS DISPONIBLES</h1>
    <div>
        {{#each docs }}
        <p>Producto: {{this.title}}</p>
        <p>Precio: ${{this.price}}</p>
        <p class="productId">ID:{{this._id}}</p>
        <input id="btnAddProd" type="submit" value="Agregar">
        {{/each}}
    </div>
</div>

<br />

<div>
    {{#if hasPrevPage}}
    <a href={{this.prevLink}}>Anterior</a>
    {{/if}}

    {{this.page}}

    {{#if hasNextPage}}
    <a href={{this.nextLink}}>Siguiente </a>
    {{/if}}
</div>

<script src="/js/product.js"></script>
