<h1>TICKET</h1>

<p>Tus productos seleccionados son:</p>
<div>
    {{#each purchaseTicket.products}}
   <p>Item: {{this.productID}}</p>
    <p>Precio: ${{this.price}}</p>
    <p>Cantidad: {{this.quantity}}</p> 
    {{/each}}
    
    <p>Precio total: ${{purchaseTicket.amount}}</p>
    <p>Ticket ID: {{purchaseTicket._id}}</p>
     <input id="btnTicket" type="submit" value="Finalizar compra">
</div>

<script src="/js/ticket.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>




